body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #003366;
    color: #fff;
    padding: 20px;
  }
  
  .green-theme header {
    background-color: green;
  }
  
  .theme-selector {
    margin-bottom: 10px;
  }
  
  
  nav {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }
  
  li a {
    display: inline-block;
    padding: 10px;
    color: #003366;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #003366;
    color: #fff;
  }
  
  main {
    margin: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  article {
    width: 45%;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  article h3 {
    font-size: 20px;
    margin-top: 0;
  }
  
  article p {
    margin-bottom: 0;
  }
  
  footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  

  section {
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }
  
  section h3 {
    margin-bottom: 10px;
  }
  
  section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  section li {
    margin-bottom: 20px;
  }
  
  section li h4 {
    margin-bottom: 5px;
  }
  
  section li p {
    margin-bottom: 10px;
  }
  
  section li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  

/*  Tela de login  */

.login-box{
        width: 850px;
        background: rgba(246, 240, 255, 0.5);
        padding: 4rem;
        border-radius: 10px;
        position: relative;
        left: 25%;
}

.título{
    color: #003366;
    font-style:normal;
}

.login{
    color: #003366;
}

.Usuario-Senha{
    color:rgb(85, 32, 165) ;
}

.colorusu-sub{
    color: white;
}

.Cancelar-salvar{
    color: white;
}


/*  Financeiro  */

.conteiner{
  margin: 200px;
  height: 200px;
  width: 800px;

}

.canvas {
  border: 1px solid gainsboro;
  background: white;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}

.login-box {
  width: 850px;
  background: rgba(246, 240, 255, 0.5);
  padding: 4rem;
  border-radius: 10px;
  position: relative;
  left: 25%;
}

.título {
  color: rgb(51, 8, 71);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.login {
  color: rgba(135, 105, 180, 0.5);
}

.Usuario-Senha {
  color: rgb(85, 32, 165);
}

.colorusu-sub {
  color: white;
}

.Cancelar-salvar {
  color: white;
}

label {
  font-weight: bolder;
}
::placeholder {
  color: lightskyblue !important;
  opacity: 3;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:  lightskyblue !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:  lightskyblue !important;
  opacity:  3;
}
h1 {
   text-align: center;
}
#msg {
   height: 60px;
}
#grid-contatos tbody {
   cursor: pointer;
}

h1{
  text-align: left;
  font-family: arial;
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

h4 {
  color: #003366;
}


.ausencia-item {
  margin-bottom: 10px;
}

.ausencia-item p {
  margin: 0;
}

.delete-btn {
  margin-left: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#baixar:hover{

  background-color: #71a4d8;
  border-style:double
  

}

#upload{
  border-style: hidden;
  background-color: transparent;
  font-family:Georgia, 'Times New Roman', Times, serif;
  size: 19cm;
}

#upload:hover{

  transform: scale(1.2);
    transition: all 0.4s;
    text-decoration: underline;
}