.login-box{
        width: 850px;
        background: rgba(246, 240, 255, 0.5);
        padding: 4rem;
        border-radius: 10px;
        position: relative;
        left: 25%;
}

.título{
    color: rgb(51, 8, 71);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.login{
    color: rgba(135, 105, 180, 0.5);
}

.Usuario-Senha{
    color:rgb(85, 32, 165) ;
}

.colorusu-sub{
    color: white;
}

.Cancelar-salvar{
    color: white;
}
